body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.form-login {margin:0;}

/*
 List of threads
 */
.threads-list{}
  .threads-list .thread{height:450px}
    .threads-list .thread .img{}
    .threads-list .thread .logo{width:30px;height:30px;}


.thread-detail {}
  .thread-detail .img{width:100%}